header{
	background-color: blue;
}

header{
	background-color: blue;
}

footer{
	background-color: blue;
}

.corpo{
}

.aba {
	padding: 2%;
	display: none;
	border: 0.5px solid lightgray;
}

.fotos{
	margin: 0 2%;
}

.descricao{
	margin: 2% 0;
	border: 2px solid black;
}
