h4{
	font-weight: bold!important;
}

header{
	width: 50%!important;
}

nav{
	margin-top: 0!important;
}

footer{
	background-color: rgb(219,107,68)!important;
	padding: 1% 5%;
}

li .active{
	padding-right: 0!important; 
}

#Apartamento{
	display: none;
}

#menu{
	float: left;
}

#resultadoCadastro{
	padding-bottom: 3%;
}

#tabelaApartamento{
	display: none;
}

.aba {
	padding: 2%;
	border: 0.5px solid lightgray;
	margin: 0 0 2%;
	display: none;
}

.bem-vindo{
	margin: 2% 15%;
	width: 70%!important;
}

.botao{
	margin: 10px 0; 
}

.botao-azul{
	background: rgb(0,78,120)!important;
}

.botao-busca{
	margin-top: 35%;
}

.botao-laranja{
	background: rgb(219,107,68)!important;
}

.cabecalho{
	background-color: rgb(219,107,68)!important;
}

.centralizar{
	text-align: center!important;
}

.corpo{
	margin:0;
	width: 70% auto;
}

.descricao{
	margin: 2% 1%!important;
	border: 1px solid black;
	border-radius: 10px;
	padding: 1%;
}

.fotos{
	margin: 1% 2%;
	width: 200px;
	height: 200px;
	border: 0 solid black; 
	border-radius: 10px;
}

.fotos2{
	margin: 1% 2%;
	width: 200px;
	height: 200px;
	border: 0 solid black; 
	border-radius: 10px;
}

.login{
	float: right!important; 
	margin-top: 7px;
	margin-right: 5px;
	color: white;
}

.logo{
	margin: 5% 10%;
	width: 80%;
	height: auto;
}

.logofixa{
	float: left;
}

.menu{
	vertical-align: middle;
	margin-top: 100px; 
}

.modal-laranja{
	background: rgb(219,107,68); 
	height: 55px!important;
}

.titulo{
	font-family: 'Lucida Calligraphy';
	font-weight: bolder;
	margin: 10% 0!important;
}

@media (max-width: 768px){
	.logofixa{
		float:none;
	}
	#menu{
		margin-top: 60px;
		width: 100%!important;
		float: none;
	}
}

@media (max-width: 1200px){
	.botao-busca{
		margin-top: 0;
	}
}